@use "sass:color";

// Configuration
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
$enable-shadows: true;
$enable-gradients: true;
@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/utilities";

// Layout & components
@import "bootstrap/scss/root";
@import "bootstrap/scss/reboot";
@import "bootstrap/scss/type";
@import "bootstrap/scss/containers";
@import "bootstrap/scss/grid";
@import "bootstrap/scss/forms";
@import "bootstrap/scss/buttons";
@import "bootstrap/scss/card";
@import "bootstrap/scss/close";

// Helpers
@import "bootstrap/scss/helpers";

// Utilities
@import "bootstrap/scss/utilities/api";

@import "notyf.css";

.normal {
  @import "lib/toastr";
}

body {
  background-color: #fcfcfc;
}
strong {
  font-weight: 500;
}
code {
  color: black;
}

.btn-pink {
  color: #FFFFFF;
  background-color: $pink;
  border-color: $pink;
  background: $pink linear-gradient(180deg, $pink, color.adjust($pink, $lightness: -10%)) repeat-x;
  border-color: $pink;
}
.btn-pink:hover {
  background-color: color.adjust($pink, $lightness: -10%);
  background: color.adjust($pink, $lightness: -10%) linear-gradient(180deg, color.adjust($pink, $lightness: -5%), color.adjust($pink, $lightness: -15%)) repeat-x;
  border-color: color.adjust($pink, $lightness: -10%);
}

.toast-container.inline {
  position: relative;
}


// bs5 toast https://github.com/twbs/bootstrap/blob/main/scss/_toasts.scss
.toast {
  width: $toast-max-width;
  max-width: 100%;
  @include font-size($toast-font-size);
  color: $toast-color;
  pointer-events: auto;
  background-color: $toast-background-color;
  background-clip: padding-box;
  border: $toast-border-width solid $toast-border-color;
  box-shadow: $toast-box-shadow;
  @include border-radius($toast-border-radius);

  &.showing {
    opacity: 0;
  }
}

// .toast-container {
//   width: max-content;
//   max-width: 100%;
//   pointer-events: none;

//   > :not(:last-child) {
//     margin-bottom: $toast-spacing;
//   }
// }

.toast-header {
  display: flex;
  align-items: center;
  padding: $toast-padding-y $toast-padding-x;
  color: $toast-header-color;
  background-color: $toast-header-background-color;
  background-clip: padding-box;
  border-bottom: $toast-border-width solid $toast-header-border-color;
  @include border-top-radius(subtract($toast-border-radius, $toast-border-width));

  .btn-close {
    margin-right: $toast-padding-x * -.5;
    margin-left: $toast-padding-x;
  }
}

.toast-body {
  padding: $toast-padding-x; // apply to both vertical and horizontal
  word-wrap: break-word;
}
